.social {
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #d7e06d;
  color: #272727;
}
@media (max-width: 768px) {
  .social {
    padding: 5px 0;
  }
}
.social__headline {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .social__headline {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}
.social__underhead {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .social__underhead {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.38px;
  }
}
.social__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.social .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.social__row {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
}
.social__block {
  border-radius: 24px;
  box-shadow: -5px -5px 16px 0 rgba(184, 255, 167, 0.5), 5px 5px 16px 0 #00000025;
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.5s;
  animation-direction: alternate;
}
.social__block:hover {
  box-shadow: none;
  transition-duration: 0.5s;
  animation-direction: alternate;
}
.social__name {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #272727;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.23px;
  text-transform: uppercase;
}
.social__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .social__content {
    flex-wrap: wrap;
  }
}
.social__text {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 25px;
  height: 100%;
  padding-right: 0 !important;
}
@media (max-width: 992px) {
  .social__text {
    height: auto;
    padding-left: 0;
    padding-bottom: 0;
    width: 100%;
    display: block;
  }
}
.social__text p {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.2px;
  border-radius: 12px;
  border: solid 1px #272727;
}
