.work {
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #ffffff;
  color: #272727;
}
.work__headline {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}
.work__underhead {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-top: 0;
}
.work__row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .work__row {
    flex-wrap: wrap;
  }
}
.work__text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.45px;
  padding: 0;
}
.work__list {
  padding: 0;
  list-style-type: none;
  margin-left: 30px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .work__list {
    margin-left: 0;
  }
}
.work__block {
  margin-top: 15px;
  margin-bottom: 15px;
  filter: grayscale(1);
}
